<!doctype html>
<html lang="en" ng-app="phonecatApp" ng-controller="PhoneListCtrl">
<head>
  <meta charset="utf-8">
  <title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title>

  <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/dist/css/bootstrap.css">
  <script src="/webjars/bootstrap/3.3.6/dist/js/bootstrap.js"></script>

  <script src="/webjars/angular/1.5.0/angular.js"></script>

  <link rel="stylesheet" href="/static/css/app.css">
  <script src="step_02.js"></script>

</head>
<body>
  <h1>step 03</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">
        Current query: '{{query}}'
      </div>
      <div class="col-md-10">
        <!--Body content-->

        <ul class="phones">
          <li ng-repeat="phone in phones | filter:query">
            {{phone.name}}
            <p>{{phone.snippet}}</p>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <p>See <a href="https://docs.angularjs.org/tutorial/step_03">Tutorial step 03</a></p>

</body>
</html>
